/* Google Fonts Inport */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  height: 100vh;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: #e3f6ff;
}

form {
  background-color: #3a4452e9;
  padding: 1.2em;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 18px;
}

#user-display {
  display: block;
  height: 20px;
  width: 100%;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-weight: 400;
  text-align: right;
  font-size: 1.9em;
  padding-bottom: 0.9em;
}

form input {
  border: none;
  outline: non;
  border-radius: 8px;
  width: 60px;
  height: 60px;
  cursor: pointer;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2em;
}

form input:not(:first-child) {
  margin-left: 8px;
}

#equalto-sign {
  width: 135px;
}
